.Avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.small {
    height: 50px;
    width: 50px;
}

.medium {
    height: 70px;
    width: 70px;
}

.large {
    height: 100px;
    width: 100px;
}

