.Input {
    padding: 8px 16px;
    width: 100%;
    color: #1a1a1a;
    border: none;
    border-radius: 10px;
    outline-color: #de8bf6;
    background: #d5bddc;
    /*font-family: var(--font-family);*/
    font-size: 16px;
    line-height: 24px;
    transition: 0.3s;
}

.input::placeholder {
    color: #656565;
}

.error {
    border: 1px solid red;
}