.allWrapper {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
}

.columnsAndBtnWrapper {
    display: flex;
    gap: 1rem;
    margin: auto;
}
.columnsWrap {
    display: flex;
    gap: 1rem;
}

.btnPlus {
    display: flex;
    padding: 1rem;
    gap: 0.5rem;
    background-color: #66bf3c;
    border-radius: 0.5rem;
    border: 2px solid black;
    cursor: pointer;
    height: 60px;
    width: 270px;
    min-width: 270px;
    align-items: center;
}

.btnPlus:hover {
    border: 3px solid blueviolet;
}
